<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/job.css"%}">
    <title></title>
  </head>
  <body>
    <h1><center>Chennai Jobs Information</center></h1>
    <img src="{% static "images/c1.jpg"%}" alt="">
    <img src="{% static "images/c2.jpg"%}" alt="">
    <img src="{% static "images/c3.jpg"%}" alt="">
    {% if jobs_list %}
    <table id='tab'>
      <thead>
        <th>Date</th>
        <th>Comapany</th>
        <th>Title</th>
        <th>Eligibility</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
      </thead>>
        {% for job in jobs_list %}
        <tr>
          <td>{{job.date}}</td>
          <td>{{job.comapany}}</td>
          <td>{{job.title}}</td>
          <td>{{job.eligibility}}</td>
          <td>{{job.address}}</td>
          <td>{{job.email}}</td>>
          <td>{{job.phonenumber}}</td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
    <p><center>No jobs found in Chennai</center></p>
    {% endif %}
  </body>
</html>
