<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <<link rel="stylesheet" href="{% static "css/job.css"%}">>
    <link rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <title></title>
  </head>
  <body>
    <div class="jumbotron"  align='center'>
<h1 class="display-4">WELCOME TO MOHANSOFT</h1>
<p>Continuous Job Updates for every Hour.</p>
<p class="lead">
  <a class="btn btn-primary btn-lg" href="/hyd" role="button">Hyderabad Jobs</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="/bang" role="button">Bangalor Jobs</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="/chennai" role="button">Chennai jobs</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="/pune" role="button">Pune Jobs</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
</p>
</div>
  </body>
</html>
